<div class="container">
  <!-- Number of Rounds Section -->
  <div class="row">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label for="numberOfRounds">Number of Rounds</label>
          <input type="number" name="numberOfRounds" id="numberOfRounds" class="form-control"
            [(ngModel)]="numberOfRounds" required min="1">
          <div class="invalid-feedback" *ngIf="numberOfRounds <= 0">
            Please enter a valid number of rounds (greater than zero).
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="row" *ngIf="showForm">
    <!-- Form Section -->
    <div class="col-md-5">
      <div class="card">
        <!-- Card Header -->
        <div class="card-header">
          <h2>Monty Hall</h2>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form) ">
            <div class="form-group">
              <label for="InitialDoorSelection">Initial Selection</label>
              <select
                name="InitialDoorSelection"
                id="InitialDoorSelection"
                class="form-control"
                [(ngModel)]="monty_hall.formData.InitialDoorSelection"
                required
              >
                <option value="1">Door 1</option>
                <option value="2">Door 2</option>
                <option value="3">Door 3</option>
              </select>
            </div>
            <div class="form-group">
              <label for="changedDoor">You want to change the choice?</label>
              <select
                name="changedDoor"
                id="changedDoor"
                class="form-control"
                [(ngModel)]="monty_hall.formData.ChangeDoor"
                required
              >
                <option value= "1">Yes</option>
                <option value= "0">No</option>
              </select>
            </div>

            <div class="form-group mt-3">
              <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
                Check
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Result Section -->
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-striped mt-2" *ngIf="resultList.length > 0">
  <thead>
    <tr>
      <th>Rounds</th>
      <th>Initial Selection</th>
      <th>Revealed Door</th>
      <th>Final Door</th>
      <th>Prize Door</th>
      <th>Win</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of resultList; let i = index">
      <td>{{ i + 1 }}</td> <!-- Display the round number by adding 1 to the index -->
      <td>{{ result.initialDoorSelection }}</td>
      <td>{{ result.revealedDoor }}</td>
      <td>{{ result.finalDoor }}</td>
      <td>{{ result.correctDoor }}</td>
      <td>{{ result.isWin }}</td>
    </tr>
  </tbody>
</table>


      <p class="text-start" *ngIf="resultList.length == 0">Good Luck on your first attempt!!</p>

    </div>
  </div>
</div>
